@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    background-color: white;
    padding: 10px 20px;
}

.display{
    height: 80px;
    width: 100%; 
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
    pointer-events: none;
}
.buttons{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
}

.buttons button{
    padding: 10px;
    border-radius: 100%;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.buttons button:active{
    transform: scale(0.99);
}

.values{
    background-color: black;
    color: white;
}

#values2{
    color: orange;
    background-color: whitesmoke;
}
.operation{
    color: whitesmoke;
    background-color: orange;
}